<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ADAS - Vai iet uz universitāti?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./vendor/css/uikit.min.css"/>
</head>
<body>
    <div id="app">
        <div class="uk-child-width-expand@s uk-text-center uk-padding" uk-grid>
            <div class="uk-width-1-3">
                <div class="uk-card uk-card-default uk-card-body">
                    <form class="uk-form-stacked">
                        <div>
                            <legend class="uk-legend">Jautājumi</legend>
                            <p class="uk-text-left">Izvēleties kritērijus un nospiediet pogu Analizēt.</p>
                        </div>
                        <div class="uk-margin uk-text-left">
                            <div v-for="(question, key) in questions" :key="key" class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                                <label>
                                    <input v-model="question.checked" class="uk-checkbox" type="checkbox">
                                    <span>{{question.text}}</span>
                                    <span uk-icon="info" :uk-tooltip="key"></span>
                                </label>
                            </div>
                        </div>
                        <div class="uk-margin-large-top">
                            <button @click.prevent="analyze" class="uk-button uk-button-primary">Analizēt</button>
                        </div>
                        <div class="uk-margin">
                            <div v-if="result" class="uk-text-left">
                                <strong>Rezultāts: {{ answer }}</strong>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="uk-width-2-3">
                <div class="uk-card uk-card-default uk-card-body">
                    <form class="uk-form-stacked">
                        <div>
                            <legend class="uk-legend">Zināšanu bāze</legend>
                            <p class="uk-text-left">Var rediģēt. Zināšanu bāze tiek saglabāta pārlukprogrammas localstorage.</p>
                            <p class="uk-text-left">Pieejamie nosacijumi: <strong>{{ conditionList }}</strong></p>
                            <p class="uk-text-left">Iespējamās atbildes: <strong>[iet],[neiet]</strong></p>
                        </div>
                        <div class="uk-margin">
                            <textarea v-model="kb" class="uk-textarea" rows="9" placeholder="Zināšanu bāze"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="uk-width-1-3">
                <div class="uk-card uk-card-default uk-card-body">
                    <form class="uk-form-stacked">
                        <div>
                            <legend class="uk-legend">Apmācība</legend>
                            <p class="uk-text-left">Izvēlēties kritērijus un sagaidāmo rezultātu.</p>
                        </div>
                        <div class="uk-margin">
                            <div v-for="(question, key) in questions" :key="key" class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                                <label>
                                    <input v-model="question.learnChecked" class="uk-checkbox" type="checkbox">
                                    <span>{{ question.text }} (koef. {{ question.coef.toFixed(2) }})</span>
                                </label>
                            </div>
                        </div>
                        <div class="uk-margin uk-text-left">
                            <label class="uk-form-label" for="form-stacked-text">Pārliecības koef. robeža</label>
                            <div class="uk-form-controls">
                                <input v-model.number="limit" type="number" step="0.01" min="0" max="1" class="uk-input uk-form-width-small" placeholder="Limits">
                            </div>
                        </div>
                        <div class="uk-margin-large-top">
                            <button v-for="(answer, key) in answers" @click.prevent="learn(key)" :class="answer.class">{{ answer.text }} {{ answer.coef.toFixed(2) }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="./vendor/js/babel.min.js"></script>
    <script src="./vendor/js/vue.min.js"></script>
    <script src="./vendor/js/uikit.min.js"></script>
    <!--async="false" uikit and vuejs conflict fix-->
    <script src="./vendor/js/uikit-icons.min.js" async="false"></script>
    <script data-presets="es2015,stage-2">
        const app = new Vue({
            el: '#app',
            data: {
                questions: {
                    '[spid_saule]':   { checked: false, learnChecked: false, coef: 0.01, text: 'Spīd saule?' },
                    '[bus_kd]':       { checked: false, learnChecked: false, coef: 0.01, text: 'Būs KD?' },
                    '[bija_ballite]': { checked: false, learnChecked: false, coef: 0.01, text: 'Vakar bija ballīte?' },
                    '[list_lietus]':  { checked: false, learnChecked: false, coef: 0.01, text: 'Līst lietus?' },
                    '[nav_md]':       { checked: false, learnChecked: false, coef: 0.01, text: 'Suns apēda mājas darbu?' },
                },
                answers: {
                    '[iet]':   { coef: 0.5, text: 'Ir jaiet', class: 'uk-button uk-margin-right uk-button-primary' },
                    '[neiet]': { coef: 0.5, text: 'Nav jāiet', class: 'uk-button uk-margin-right uk-button-danger'},
                },
                limit: 0.6,
                result: false,
                answer: '[neiet]',
                kb: ''
            },
            methods: {
                analyze: function() {
                    this.answer = '[neiet]'
                    this.probability()
                    this.result = true
                },
                probability: function(){
                    let statements = this.getCheckedStatements()
                    for (i in statements) {
                        if(statements[i] !== ''){
                            let result = this.calculateStatement(statements[i])
                            if(result.result){
                                this.answer = result.answer
                                break
                            }
                        }
                    }
                },
                getCheckedStatements: function(){
                    let conditionsString = ''
                    for(key in this.questions){
                        if(this.questions[key].checked){
                            conditionsString += (conditionsString.length === 0) ?  key : ' AND '+ key
                        }
                    }
                    return this.kb.split('\n').filter(function(statement){
                        let conditions = statement.slice(0, statement.indexOf('THEN')).replace('IF', '').trim()
                        if(conditions === conditionsString)
                            return statement
                    })
                },
                learn: function (answer) {
                    let conditionsString = ''
                    for(key in this.questions){
                        if(this.questions[key].learnChecked){
                            conditionsString += (conditionsString.length === 0) ?  key : ' AND '+ key
                        }
                    }
                    let statement = 'IF ' + conditionsString + ' THEN ' + answer + '\n';
                    this.update(statement)
                    if(this.kb.indexOf(statement) === -1)
                        this.kb += statement
                },
                update: function(statement){
                    let keys = statement.slice(0, statement.indexOf('THEN')).match(/\[.*?\]/gi)
                    let self = this
                    let prev = 0.01
                    keys.forEach(function(key){
                        // Pk = Pkold + (1 - Pkold) * Pjaun
                        self.questions[key].coef = self.questions[key].coef + (1 - self.questions[key].coef) * prev
                        prev = self.questions[key].coef
                    })
                    let answer = statement.substr(statement.indexOf('THEN') + 4).trim()
                    this.answers[answer].coef = this.answers[answer].coef + (1 - this.answers[answer].coef) * prev

                },
                calculateStatement: function (statement) {
                    let self = this
                    let answer = statement.substr(statement.indexOf('THEN') + 4).trim()
                    let conditions = statement.slice(0, statement.indexOf('THEN')).
                            replace('IF', '').
                            replace(/AND/g, '').
                            replace(/OR/g, '').
                            trim().
                            match(/\[.*?\]/gi)
                    let min = conditions.reduce(function(accumulator, current){
                        return (self.questions[current].coef < accumulator) ? self.questions[current].coef : accumulator
                    }, 1)
                    let probability = min * this.answers[answer].coef
                    console.log(statement)
                    console.log('min AND coef: ' + min)
                    console.log('answer coef: ' + this.answers[answer].coef)
                    console.log('statement probability: ' + probability)
                    console.log('------------------------------')
                    return {
                        result: (probability > this.limit) ? true : false,
                        answer: answer
                    }
                }
            },
            computed: {
                conditionList: function(){
                    return Object.keys(this.questions).toString()
                }
            },
            mounted: function() {
                if(localStorage.getItem('kb'))
                    this.kb = localStorage.getItem('kb')
                else
                    localStorage.setItem('kb', this.kb)
            },
            watch: {
                kb: function () {
                    localStorage.setItem('kb', this.kb)
                }
            }
        })
    </script>
</body>
</html>